.hero {
  text-align: left;
  padding: 2rem;
  height: 00%;
  width: 100%;
  font-family: montserrat;
}

body {
  background-color: black;
}

h1 {
  font-size: 100px;
  color: white;
  text-shadow: white 2px 2px 100px;
}

.p {
  margin-top: 1px;
  color: #00ffff;
  font-size: 50px;
}
